@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.dot {
  display: inline-block;
  width: 6px; /* Adjust size as needed */
  height: 6px; /* Adjust size as needed */
  background-color: black;
  border-radius: 50%;
}

.custom-backdrop {
  backdrop-filter: blur(0.5px); /* Adjust the blur value as needed */
  background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity */
}

/* Styling for WebKit Browsers (Chrome, Safari) */
.scrollable-container {
  overflow: auto; /* Ensure scrollbars are visible */
}

/* Style the vertical scrollbar */
.scrollable-container::-webkit-scrollbar {
  width: 4px; /* Width of the vertical scrollbar */
}

/* Style the horizontal scrollbar */
.scrollable-container::-webkit-scrollbar {
  height: 4px; /* Height of the horizontal scrollbar */
}

/* Style the track (background of the scrollbar) */
.scrollable-container::-webkit-scrollbar-track {
  background: #cccccc; /* Background color of the track */
  border-radius: 10px; /* Border radius of the track */
}

/* Style the thumb (the draggable part of the scrollbar) */
.scrollable-container::-webkit-scrollbar-thumb {
  background: #ffffff; /* Background color of the thumb */
  border-radius: 10px; /* Border radius of the thumb */
}

/* Adjust the height of the thumb */
.scrollable-container::-webkit-scrollbar-thumb {
  height: 40px; /* Adjust the height of the vertical scrollbar thumb */
}

/* Style the thumb on hover */
.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #dddddd; /* Darker background color of the thumb on hover */
}

/* Styling for Firefox */
.scrollable-container {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #ffffff #cccccc; /* Thumb color and track color */
}
