@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* Adjust the width as needed */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-horizontal {
  height: 2px; /* Adjust the height as needed */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #929191; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b40f0f; /* Handle color */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}
